extends ../layout

block content
  h2.display-data Delete Contact?
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td First
          td= display(contact.first)
        tr
          td Last
          td= display(contact.last)
        tr
          td Address
          td= display(contact.address)
        tr
          td Company
          td= display(contact.company)
        tr
          td Email
          td= display(contact.email)


  form#contact-form.form-horizontal(action="/contacts/" + contact._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/contacts") Back
      | 
      input.btn.btn-danger(type="submit", value="Delete")
